@import url("https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700");
@import url('https://fonts.googleapis.com/css2?family=Smooch&display=swap');

/*------ Header------*/

.header {
  font-size: 40px;
  border-width: 5px;
}

.navbar-design {
  background-color: rgb(41, 39, 39);
}

#logo {
  text-transform: uppercase;
  font-size: 250%;
  font-family: 'Smooch', cursive;
  letter-spacing: 3px;
  font-weight: 400;
  color: whitesmoke;
  padding-left: 20px;
  margin-top: 15px;
  text-decoration: none;
}

#logo:hover {
  border-bottom: none;
}
#menu-bar {
  list-style-type: none;
  margin-top: 15px;
  font-family: cursive;
  float: inline-end;
}

#logo,
#menu-bar {
  line-height: 75px;
}

#menu-bar li {
  display: inline;
  position: relative;
  word-spacing: 0px;
  font-size: 150%;
  padding-right: 10px;
  margin-top: 10px;
}

#menu-bar a {
  text-decoration: none;
  color: whitesmoke;
}

#menu-bar a:hover {
  border-bottom: 4px solid purple;
}

#navbarNavDropdown-design {
  color: whitesmoke;
}

/*-----------------Hero Image------------------*/

.hero-image{
background: url("../images/hero-image.jpg") no-repeat center;
background-size: cover;
height: 100%;
width: 100%;
position: absolute;
}

.hero-image-container{
height: 660px;
width: 100%;
position: relative;
}

.hero-image-overlay{
  width: 400px;
  bottom: 0px;
  right: 10px;
  position: absolute;
  background-color: rgba(41, 39, 39, 0.33)
}

.hero-image-overlay h2{
  color:black;
  font-size:500%;
  font-family: cursive;
}

.hero-image-overlay h3{
  color: black;
  font-style: italic;
  font-family: cursive;
}

@keyframes hero-zoom {
  from {
    transform:scale(1);
  }

  to {
    transform: scale(1.1);
  }
}

/*---------------- Story Section------------*/

.story-container{
  height: 600px;
  width: 100%;
  background-color:rgb(248, 248, 192)
}

#story-sub-heading{
  padding-top: 10px;
  text-align: center;
}

#story-sub-heading h2{
  font-size: 300%;
}

.story-content{
  padding-top: 30px;
  position:relative;
}

.our-story-text{
  font-size: 24px;
  border: 5px solid red;
  border-radius: 50px;
  background-color:rgb(247, 252, 222);
  text-align: center;
}

#chef-grizzo-image{
  background-repeat: no-repeat;
  height: 90%;
  width: 100%;
  border: 3px solid black;
  border-radius: 200px;
  bottom: 10px;
}

#story-image-caption{
  font-size: 20px;
  font-weight: 700;
  text-align: center center;
}

/*-----------------Menu------------------*/

.menu-heading h1{
  text-align: center;
  font-family: 'Smooch', cursive;
  font-size: 70px;
  line-height: 40px;
  padding-top: 120px;
}


.menu-blocks div{
  display: inline-block;
  width: 49.8%;
  text-align: center;
  height: 550px;
  color: black;
}

.menu-images{
  height:100%;
  width: 100%;
  position: relative;
}

.menu-images-text-overlay{
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  font-weight: 500;
  color: black;
  border-style: double;
  border-color: red;
  background-color: rgba(218, 96, 96, 0.644);
  border-width: 4px;
}

.download-menu{
  position: absolute;
  margin:auto;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 25%;
  color: transparent;
  background-color: transparent;
  font-size: 0px;
}

.download-menu-text{
  position: absolute;
  margin:auto;
  height: 100%;
  width: 100%;
  overflow: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: transparent;
  background-color:transparent;
  border-color: transparent;
  font-size: 30px;
  vertical-align:middle;
}

#lunch{
  background: url("../images/lunch-overlay.jpg") no-repeat center center;
  height:100%;
  width: 100%;
}

#dinner{
  background: url("../images/dinner-overlay.jpg") no-repeat center center ;
  height:100%;
  width: 100%;
}

#sunday{
  background: url("../images/sunday-roast.jpg") no-repeat center center ;
  height:100%;
  width: 100%;
}

#vegetarian-vegan{
  background: url("../images/veg-vegan-overlay.jpg") no-repeat center center ;
  height:100%;
  width: 100%;
}

/*-----------------Menu hover effects------------------*/

#lunch-effect:hover{
  -webkit-filter: brightness(30%);
}

#dinner-effect:hover{
  -webkit-filter: blur(4px);
}

#sunday-effect:hover{
  -webkit-filter: blur(4px);
}

#vegetarian-vegan-effect:hover{
  -webkit-filter: blur(4px);
}

 
/*-----------------Footer------------------*/

.footer{
  height: 100px;
  width: 100%;
  background-color: #292727;
  bottom: 0;
  overflow: hidden;
}

.address p{
  padding-left: 5%;
  color: red;
  font-weight: 700;
}

.social-media-icons{
  text-align: center;
  padding-top: 8%;
}

.social-media-icons li{
  display: inline;
  padding-right: 5%;
}

.social-media-icons i{
  font-size: 200%;
  color: red;
}