@import url("https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700");
@import url('https://fonts.googleapis.com/css2?family=Smooch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic&display=swap');

/*------ Header------*/

.header {
  font-size: 35px;
  border-width: 5px;
}

.navbar-design {
  background-color: #0f0004;
}

#logo {
  text-transform: uppercase;
  font-size: 250%;
  font-family: 'Smooch', cursive;
  letter-spacing: 0px;
  font-weight: 400;
  color: #b86500;
  padding-left: 15px;
  margin-top: 15px;
  text-decoration: none;
}

#logo:hover {
  border-bottom: none;
}
#navigation-bar {
  list-style-type: none;
  margin-top: 15px;
  font-family: cursive;
  float: inline-end;
}

#logo,
#navigation-bar {
  line-height: 75px;
}

#navigation-bar li {
  display: inline;
  position: relative;
  word-spacing: 0px;
  font-size: 140%;
  padding-right: 10px;
  margin-top: 10px;
}

#navigation-bar a {
  text-decoration: none;
  color: #b86500;
}

#navbarNavDropdown-design {
  color: whitesmoke;
}

/*-----------------Navigation Bar Hover------------------*/

#logo:hover{
  color:whitesmoke
}

#navigation-bar a:hover {
  border-bottom: 4px solid #b86500;
  color: whitesmoke;
}

/*-----------------Hero Image------------------*/

.hero-image{
background: url("../images/hero-image.jpg") no-repeat center;
background-size: cover;
height: 100%;
width: 100%;
position: absolute;
}

.hero-image-container{
height: 660px;
width: 100%;
position: relative;
}

.hero-image-overlay{
  width: 400px;
  bottom: 0px;
  right: 10px;
  position: absolute;
  background-color: #0f0004;

  animation: hero-zoom;
}

.hero-image-overlay h2{
  color:whitesmoke;
  font-size:500%;
  font-family: cursive;
}

.hero-image-overlay h3{
  color: whitesmoke;
  font-style: italic;
  font-family: cursive;
}

@keyframes hero-zoom {
  from {
    transform:scale(1);
  }

  to {
    transform: scale(1.1);
  }
}

/*---------------- Home Section------------*/

.home-content-container{
  height: 1400px;
  width: 100%;
  padding: 10px;
  background-color:#f3ca36;
  overflow: hidden;
}

.home-page-sub-heading{
  padding-top: 10px;
  padding-left: 10px;
  text-align: center;
  color: #320008
}

.home-introduction{
  text-align: left;
  font-size: 16px;
  color: #320008;
  padding-top: 15px;
}

.opening-times{
  height: 100%;
  width: 100%;
  color: #320008;
  padding-top: 15px;
}

.restaurant-image-container{
  height:1000px;
  padding:0;
  margin:0;
  position: relative;
}

.restaurant-image{
  background: url("../images/restaurant.jpg") no-repeat center center;
  width: 100%;
  height: 100%;
  position: absolute;
}

/*---------------- Story Section------------

.story-container{
  height: 1px;
  width: 100%;
  padding: 10px;
  background-color:rgb(248, 248, 192);
  overflow: hidden;
}


#story-sub-heading h2{
  font-size: 300%;
}

.story-content{
  padding-top: 30px;
  height: fit-content;
}

.our-story-text{
  font-size: 24px;
  border: 5px solid red;
  border-radius: 50px;
  background-color: rgb(247, 252, 222);
  text-align: center;
}

#chef-grizzo-image{
  background: url("../images/chef-grizzo.jpg") no-repeat center center;
  padding-top: 3rem;
  height: 100%;
  width: 100%;
  border: 3px solid black;
  border-radius: 200px;
  bottom: 10px;
}
*/

/*-----------------Menu------------------*/

.menu-page-background-color{
  background-color: #f3ca36;
}

.menu-heading{
  background-color: #f3ca36;
  ;
}

.menu-heading h1{
  text-align: center;
  font-family: 'Smooch', cursive;
  font-size: 85px;
  line-height: 40px;
  padding-top: 120px;
  color: #320008;
}

.menu-heading p{
  color: #54000b
}

.menu-blocks{
  background-color: #f3ca36;
}

.menu-blocks div{
  display: inline-block;
  width: 49.8%;
  text-align: center;
  height: 550px;
  color: black;
}

.menu-images{
  height:100%;
  width: 100%;
  position: relative;
}

.menu-images-text-overlay{
  position: absolute;
  margin:auto;
  top: 35%;
  left: 35%;
  width: fit-content;
  text-align: center;
  overflow: hidden;
  font-weight: 500;
  color: black;
  border: solid white 2px;
  background-color:rgba(211, 167, 167, 0.747);
  border-width: 4px;
  text-transform: uppercase;
}

.menu-images-text-overlay h2, .menu-images-text-overlay h5{ 
  font-family:'Gentium Book Basic', serif;
  color: #0f0004;
  font-weight:700
}

.download-menu{
  position: absolute;
  margin:auto;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 25%;
  color: transparent;
  background-color: transparent;
  font-size: 0px;
}

#lunch{
  background: url("../images/lunch-overlay.jpg") no-repeat center center;
  height:100%;
  width: 100%;
}

#dinner{
  background: url("../images/dinner-overlay.jpg") no-repeat center center ;
  height:100%;
  width: 100%;
}

#sunday{
  background: url("../images/sunday-roast.jpg") no-repeat center center ;
  height:100%;
  width: 100%;
}

#vegetarian-vegan{
  background: url("../images/veg-vegan-overlay.jpg") no-repeat center center ;
  height:100%;
  width: 100%;
}

/*-----------------Menu hover effects------------------*/

.menu-images-text-overlay:hover{
  background-color: white;
}


/*-----------------Booking Page------------------*/

.booking-page-background-color{
  background-color: #f3ca36;
}

.booking-heading{
  background-color: #f3ca36;
}

.booking-heading h1{
  text-align: center;
  font-family: 'Gentium Book Basic', serif;
  font-size: 85px;
  line-height: 40px;
  padding-top: 150px;
  color: #320008;
}

.booking-form{
  padding: 0 20% 40px 20%;
  color:black
}

.booking-form input, .booking-form textarea{
  background-color: whitesmoke;
  border: black solid 2px;
  color: #54000b;
}

::placeholder{
  color: #000000;
  font-weight: 400;
  
}

.booking-form button{
  width: 50%;
  letter-spacing: 3px;
  font-size: 20px;
  font-weight: 600;
  background-color: #54000b;
  color: #f3ca36;

}

/*-----------------Booking form hover------------------*/


.booking-form button:hover{
  background-color: #b86500;
  color:#54000b;
  font-size: 120%;
}

/*-----------------Footer------------------*/

.footer{
  background-color: #0f0004;
  color: #b86500;
  overflow:hidden;
  padding-top: 30px;
}

#mobile-icon{
  color:#b86500;
  font-size: 150%;
}

#address-icon{
  color:#b86500;
  font-size: 150%;
}

.social-media-container{
  padding-top: 50px;
}

.social-media-icons{
  text-align: right;
}

.social-media-icons li{
  display:inline;
  padding: 10px;
}

.social-media-icons i{
  font-size: 250%;
  padding-right: 1%;
  color: #b86500;
}

/*-----------------Footer hover effects------------------*/

.social-media-icons i:hover{
  color: white;
}

/*-----------------Media Queries------------------*/

@media screen and (max-width: 800px) {
  .menu-blocks div{
    width: 100%;
    height: 80%;  
    margin-left: 0;
    margin-right: 0;
    display: block;
    margin-bottom: 0.5rem;
  }

  .menu-images-text-overlay{
    width: fit-content;
  }
}

@media screen and (max-width: 1199px){
  .menu-blocks div{
    width: 100%;
    height: 550px;
    vertical-align: middle;
    margin-bottom: 0.5rem;
  }
}

